<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
    <title>{{ page_title }} · {{ shop.name }}</title>
  </head>
  <body class="ash-born">
    {% section 'header' %}
    <main id="MainContent">
      {{ content_for_layout }}
    </main>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </body>
</html>
